.main {
    background-image: url("../img/wrapper.png");
    background-size: 100%;
    width: 1192px;
    height: 736px;
    text-align: center;
    display: table;
    padding: 25px;
    font-family: 'Arimo', FontAwesome, sans-serif;
    color: #484848;

}

table, th, tr, td {
    border-collapse: collapse;
    box-sizing: border-box;

    -webkit-box-shadow: -2px 1px 1px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 1px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 1px -2px rgba(0, 0, 0, 0.75);


}

th {
    width: 310px;

}

tr:nth-child(even) {
    background: #e3e3e3;

}

td {
    width: 277px;

}

table {
    background-color: #f2f2f2;
}

.price, .prising {
    background-color: #fafafa;
}

.per-month-num:after {

    content: ".99";
    white-space: pre;
    font-size: 24px;
    font-weight: bold;
    vertical-align: 25px;
    margin-left: -16px;
}

.per-month-text:after {
    content: "PER MONTH";
    font-size: 18px;
    font-weight: bold;
    margin-left: -50px;
    font-weight: normal;

}

.service-menu {
    height: 85px;
}

.main-menu-left {
    width: 310px;
    color: #484848;
}

.left-icons-storage:before {
    content: "\f187";
    color: #aaaaaa;

    margin-right: 10px;
}

.left-icons-bandwidth:before {
    content: "\f0ee";
    color: #aaaaaa;
    margin-right: 10px;
}

.left-icons-email:before {
    content: "\f0e0";
    color: #aaaaaa;
    margin-right: 10px;
}

.left-icons-support:before {
    content: "\f1cd";
    color: #aaaaaa;
    margin-right: 10px;
}

.left-icons-product:before {
    content: "\f1b2";
    color: #aaaaaa;
    margin-right: 10px;
}

.left-icons-users:before {
    content: "\f0c0";
    color: #aaaaaa;
    margin-right: 10px;
}

.choose-size {
    font-size: 18px;
    font-weight: bold;
}

.summa1-size {
    font-size: 30px;
    font-weight: bold;
}

.standart-size {
    background-color: #89c331;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 60px;
    font-weight: bold;

}

.ultimate-size {
    background-color: #f04a56;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.premium-size {
    background-color: #20807c;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.prising {
    height: 70px;
}

.summa-price {
    height: 85px;
}

.button-footer {
    height: 110px;

}

.left-button {
    background-color: #dddddd;
}

.byu-button {
    background-color: #eeeeee;
}

.button-options {
    font-size: 16px;
    color: white;
    width: 190px;
    height: 50px;
    border-radius: 10px;
}

.main-menu-left-button {
    background-color: #484848;
}

.main-menu-left-button:hover {
    box-shadow: -2px 10px 2px -2px rgba(0, 0, 0, 0.75)
}

.button-buy-green {
    background-color: #89c331;
}

.button-buy-green:hover {
    box-shadow: -2px 10px 2px -2px rgba(0, 0, 0, 0.75)
}

.button-buy-reb {
    background-color: #f04a56;
}

.button-buy-reb:hover {
    box-shadow: -2px 10px 2px -2px rgba(0, 0, 0, 0.75)
}

.button-buy-blue {
    background-color: #20807c;
}

.button-buy-blue:hover {
    box-shadow: -2px 10px 2px -2px rgba(0, 0, 0, 0.75)
}